/* ==|== basic style ====================================================== */

#container {width:960px; margin:0 auto; padding-top:60px;}

.accordian {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:block;
}
.accordian li {
  float:left;
}
.accordian li a {
  display:block;
  width:100px;
  padding:15px;
  background:#eee;
  text-decoration:none;
  color:#333;
}
.accordian li a:hover, .accordian li:hover .item-header {
  background:#dedede;
}
.accordian li ul li a {
}
.item-header {
  background: #ccc;
  text-align:center;
  cursor: pointer; 
  margin: 0;
  padding:15px;
  width:100px;  
  display:block;
  font-size:16px;
  font-weight:bold;
  text-decoration:none;
  color:#000;
}
.active .item-header {
  background: #555;
  color:#fff;
}
.item-content {
  position:absolute;
  left:-9999em;
  width:100px;
  margin:0;
  padding:0;
  list-style:none;
  font-size:13px;
}
li:hover .item-content {
  left:auto;
}
.item-content li {
  margin:0;
  padding:0;
  background:#eee;
}
.item-content a {
  padding:10px 0 10px 10px;
  display:block;
  text-decoration:none;
}




/* ==|== media queries ====================================================== */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  
  
  #container {
    width:100% !important;
    padding:0;
  }
    .accordian {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  .accordian li, .accordian li a {
      width:auto;
      display:block;
      float:none;
      margin-bottom:1px;
  }
  .item-header {
      background: #ccc;
      cursor: pointer; 
      margin: 0;
      display:block;
      font-size:16px;
      font-weight:bold;
      text-decoration:none;
      display:block;
      width:auto;
      padding:15px;
      background:#eee;
      text-decoration:none;
      color:#555;
    }
    .active .item-header {
      background: #555;
      color:#fff;
    }
    .item-content {
      margin:0 0 1px;
      padding:0;
      list-style:none;
      font-size:13px;
      position:inherit;
      display:block;
      width:100%;
    }
    .item-content li {
      margin:0;
      padding:0;
      background:#eee;
      text-align:center;
    }
    .item-content a {
      padding:10px 0 10px 10px;
      display:block;
      text-decoration:none;
    }

}